@tailwind base;
@tailwind components;
@tailwind utilities;


#main_content {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center
}

#cta_right_side {
  background-image: url(../img/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* #ribon_one {
  width: 100%;
  height: 120%;
  background-image: url(../img/hero-ribbon-1.png);
  position: absolute;
  left: -70%;
  top:8%;
} */

#section_seven {
  /* background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%); */
  background-image: url(../img/newsletter-bg.png);
}

#newsletter_box {
  background-image: url(../img/newsletter-box.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#why {
  background-image: url(../img/why-ribbon.png), url(../img/why-model-1.png), url(../img/why-model-2.png);
  background-repeat: no-repeat;
  background-position: center, 100% -18% , right bottom;
}

#section_six {
  background-image: url(../img/features-circle-1.png), url(../img/features-circle-2.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* #wave {
  transform: scale(0.6);
} */
/* #wave1 {
  transform: scale(0.6);
  transform: rotate(180deg);
  animation-name: waveanimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#ball,#ball2  {
  left: -20px;
  animation-name: waveanimation;
  animation-duration: 14s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
} */

/* @keyframes waveanimation {
  0%{
    transform: scale(0.8);
  }

  100%{
    transform: scale(0.6);
  }
} */

.checker {
  transform: translateX(100%);
  transition: transform ease .545s;
}

.checker2 {
  transform: translateX(0);
  transition: transform ease .545s;
}


.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}


.hamburger-top,.hamburger-middle,.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height:2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
